@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");

body {
  margin: 0;
  font-family: "Poppins";
  background-color: #f5f5f5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

header {
  padding: 20px 40px;
  background: #fff;
  align-items: center;
}

header h1 {
  grid-column: span 6;
}

header nav {
  grid-column: span 6;
  justify-self: end;
}

header nav a {
  color: #333;
  margin-left: 10px;
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: 60px auto;
}

main img {
  grid-column: span 6;
  width: 100%;
  border-radius: 6px;
}

main .welcome {
  grid-column: 8 / span 5;
}

main > h2 {
  grid-column: span 12;
  text-align: center;
  font-size: 1.5em;
  padding-top: 20px;
}

main .card {
  grid-column: span 4;
  background: #fff;
  margin: 10px;
  padding: 10px 20px;

  border-radius: 6px;

  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

main .card h3 {
  text-align: center;
}

/* RESPONSIVE */

@media screen and (max-width: 960px) {
  header {
    padding: 0px 15px 0px 15px;
    position: sticky;
    top: -25px;
  }
  main img {
    grid-column: 2 / span 10;
  }
  main .welcome {
    grid-column: 3 / span 8;
  }
  main .card {
    grid-column: 3 / span 8;
  }
}

@media screen and (max-width: 576px) {
  header {
    padding: 5px 10px;
    position: sticky;
    top: -10px;
  }
  header h1 {
    font-size: 1.05em;
    grid-column: span 4;
  }
  header nav {
    grid-column: span 8;
    margin-right: 10px;
  }
  main img {
    grid-column: span 12;
  }
  main .welcome {
    grid-column: 2 / span 10;
  }
  main .card {
    grid-column: span 12;
  }
}
